#form{
    margin-top: 15%;
    margin-right: 35%;
    margin-left: 35%;
}
#btn1{ background-color:chocolate;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;

}